body{
	background-size: 100%;
	background-attachment: fixed;
}
.head img{
	align-content: left;
	margin-top: -5px;
	width: 30px;
	height: 30px;
}
.head{
	margin-left: -10px;
	margin-top: -10px;
	padding: 5px;
	width: 100%;
	height: 30px;
	background-color: white;
	text-align: right;
	position: fixed;
	box-shadow: 3px 0px 5px rgba(0,0,0,1);
}
.search{
	margin-top: 5px;
	width: 300px;
}
.buttoncap{
	margin-top: -21px;
	margin-right: 100px;
	width: 1250px;
}
.buttoncap button{
	margin-left: 100px;
	background: transparent;
	border: none;
	outline: none;
}
.buttoncap a{
	color: black;
	text-decoration: none;
}

.logo{
	margin-left: -8px;
	padding-top: 40px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: rgba(0,200,255,.8);
	width: 100.5%;
	height: 90px;
	display: flex;

}
.logo img{
	margin-right: 10px;
	width: 90px;
	height: 90px;
}
.logo h1{
	margin-top: 27px;
	text-shadow: 20px, 20px, 10px rgba(0,0,0,1);
}
.logo a{
	text-decoration: none;
	color: white;
	font-family: arial;
	text-shadow: 2px 2px 5px rgba(0,0,0,1);
}
h3{
	margin-left: 30px;
	font-family: arial;
}
.news{
	margin-left: 30px;
	margin-top: 15px;
	width: 900px;
	height: 50px;
	background: rgba(255,255,255,.8);
	border-radius: 10px;
	border: none;
	box-shadow: 5px 5px 10px rgba(0,0,0,.8);
	cursor: pointer;
	font-size: 16px;
}
.news:hover{
	background: rgba(200,200,200,.8);
}