body{
	background-size: 100%;
	background-attachment: fixed;
	background-position: top;
}

h1{
	font-family: times new roman;
	color: darkblue;
	text-align: center;	
	border-bottom: 1px;
}

.block1{
	margin-left: 33%;
	transform-translate:-50%,50%;
	padding-top: 10px;
	padding-left: 5px;
	background: rgba(80, 148, 250, 1);
	height: 350px;
	width:395px;
/*	border-radius: 25px;*/
	white-space: 25px;
/*	box-shadow: 8px 8px 20px rgba(0,0,0,.4);*/
}

::placeholder{
	color:#c5c4c4;
}

.field1 input{
	margin-top: 15px;
	height: 25px;
	width: 120px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: aqua 1pt;
	outline: none;
	font-color:white;
	background:transparent;
	transition: 0.25s;
}

.field1 input:focus{
	width: 180px;
}

h2{
	font-size: 15px;
	margin-left: 0px;
}

.tap1{
	margin-left: 100px;
	height: 100px;
	width:100px;
	padding: 5px;
	display: block;
	flex-wrap: wrap;
}

.tap1 input{
	text-align: center;
}


.agree1 input{
	margin-top: 10px;
}

input[type="submit"]{
	color: black;
	margin: auto;
	margin-top:20px;
	width: 80px;
	height:30px;
	background-color: white;
	border-radius: 15px;
	transition: 0.1s;
	cursor: pointer;
}

input[type="submit"]:hover{
	color: white;
	background-color: black;
}

.tab {
  overflow: hidden;
  width: 400px;
  margin-top: 50%;
  margin-left: 33%;
  transform-translate:-50%, -50%;
  margin-top: 40px;
  border: none;
  outline:none;
  background-color: rgba(65, 120, 220, 1);
/*  box-shadow: 8px 2px 20px rgba(0,0,0,.4);*/
}

.tab button {
  background:transparent;
  float: left;
  width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: rgba(70, 130, 230, .8);
}

.tab button.active {
  background-color:rgba(80, 148, 250, 1);
}

.tabcontent {
  display: none;
  border: none;
  outline: none;
}

.back {
  overflow: hidden;
  width: 40px;
  border: none;
  outline:none;
  background-color: rgba(255, 255, 255, .4);
}
.back button{
  background:transparent;
  float: left;
  border: none;
  outline: none;
  padding: 5px 12px;
}